Repository fragcolor-xyz/shards, pull requests merged in 2022-09, with the labels that each got.

#401 UI styling
  docs/samples/shards/UI/Style/1.edn
  docs/samples/shards/UI/Style/2.edn
  rust/src/shards/gui/context.rs
  rust/src/shards/gui/layouts/space.rs
  rust/src/shards/gui/misc/mod.rs
  rust/src/shards/gui/misc/reset.rs
  rust/src/shards/gui/misc/style.rs
  rust/src/shards/gui/mod.rs
  rust/src/shards/physics/mod.rs
  rust/src/types.rs
  src/gfx/egui/src/lib.rs
Labels: Project: Shards

#409 CI update
  .github/workflows/build-doc.yml
  .github/workflows/build-ios.yml
  .github/workflows/build-linux.yml
  .github/workflows/build-macos.yml
  .github/workflows/build-wasm.yml
  .github/workflows/build-windows.yml
  .github/workflows/main.yml
Labels: Theme: Build

#399 Added 3 new markdown pages for "How-to Start Developing", "How-to Bui…
  docs/docs/how-to/.pages
  docs/docs/how-to/assets/github-clone-desktop.png
  docs/docs/how-to/assets/github-clone-https-copy.png
  docs/docs/how-to/assets/github-clone-https-enter.png
  docs/docs/how-to/assets/github-desktop-fetch.png
  docs/docs/how-to/assets/github-desktop-pull.png
  docs/docs/how-to/assets/install-c-cpp-extension.png
  docs/docs/how-to/assets/location-mingw.png
  docs/docs/how-to/assets/location-shards-debug-exe.png
  docs/docs/how-to/assets/location-shards-release-exe.png
  docs/docs/how-to/assets/location-shards-repo-copy-address.png
  docs/docs/how-to/assets/location-shards-repo.png
  docs/docs/how-to/assets/mingw-debug-build.png
  docs/docs/how-to/assets/mingw-release-build.png
  docs/docs/how-to/assets/search-command-prompt.png
  docs/docs/how-to/assets/set-environment-variable-mingw64-new.png
  docs/docs/how-to/assets/set-environment-variable-mingw64-path.png
  docs/docs/how-to/assets/set-environment-variable-mingw64.png
  docs/docs/how-to/assets/shards-repo-build-folders.png
  docs/docs/how-to/assets/vscode-new-file.png
  docs/docs/how-to/assets/vscode-new-folder-icon.png
  docs/docs/how-to/assets/vscode-new-folder.png
  docs/docs/how-to/build-shards.md
  docs/docs/how-to/run-shards.md
  docs/docs/how-to/start-developing.md
Labels: Project: Documentation
